## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##
#####
##
## version $Id: isInitializedReferencingObject.vm 1850502 2019-01-05 16:47:35Z painter $
##
## This template creates the isSet method in the object for the 
## "foreign" part of a foreign key. The initialized object collection represents
## the "local" side of the foreign key.  
## The template expects as input a "foreign-field" element inside a 
## "foreign-key" element from the torque schema, which was generated 
## by the OMTransformer.  
##
    /**
     * Checks whether the cache $field for referenced objects has either been
     * loaded from the database or has been manually initialized.
     *
     * @return boolean true if initialized
     */
    public boolean ${isInitialized}()
    {
        return ($field != null);
    }

