## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##
######
##
## version $Id: newModifiedFields.vm 1331196 2012-04-27 02:56:12Z tfischer $
##
## Creates the isNew and modified fields.
## This template expects as input a "table" element from the torque schema.
##
#if ($torqueGen.booleanOption("torque.om.trackModified"))
    /** Whether this object was modified after loading or after last save. */
    protected boolean modified = true;

#end
#if ($torqueGen.booleanOption("torque.om.trackNew"))
    /** 
     * Whether this object was loaded from the database or already saved 
     * (false) or whether it is not yet in the database(true).
     */
    protected boolean isNew = true;

#end