## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##
######
##
## version $Id: getter.vm 1774624 2016-12-16 15:42:07Z tv $
##
## This template generates a getter method for a member field.
## It expects to be executed on a source element with the 
## field attributes set (as defined in the JavaFieldAttributeName enum). 
##
#if (!$getterThrows)
  #set ( $getterThrows = "" )
#else
  #set ( $getterThrows = " throws $getterThrows" )
#end
    /**
     * Get the value of ${field}.
#if ($description)
     * The field is described as follows: 
     * $description
#end
     *
     * @return the value of ${field} as $fieldType
#if ($getterThrows != "")
     * @${getterThrows.substring(1)} on failure
#end
     */
    $getterAccessModifier $fieldType ${getter}()$getterThrows 
    {
        $torqueGen.mergepoint("methodStart")
        return $field;
    }
