## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##
######
##
## version $Id: getterReferencingObject.vm 1331196 2012-04-27 02:56:12Z tfischer $
##
## This template creates the getter method in the object for the "foreign" part
## of a foreign key. The objects in the field represent the "local" part
## of the foreign key.  
## The template expects as input a "foreign-field" element inside a 
## "referencing-foreign-keys/foreign-key" element
##
    /**
     * Returns the Collection of ${fieldContainedType}s.
     *
     * @return the collection of associated objects
     */
    public $fieldType ${getter}()
    {
        //return $field;
        return $field == null ? Collections.EMPTY_LIST : $field;
    }

    